.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dans votre fichier CSS (par exemple, styles.css) */
@font-face {
  font-family: 'Monserrat';
  src: url('./fonts/Montserrat-Regular.otf') format('otf');
  /* Ajoutez d'autres formats de police si nécessaire (woff, ttf, etc.) */
}

body {
  font-family: 'Monserrat', sans-serif;
}

.primary-bg {
  background-color: #85cb33;
}

.primary-border {
  border-color: #85cb33;
}